<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-primary" href="/admin/categories/new">Criar categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach((category) => { %>
            <tr>
                <th><%= category.id %></th>
                <th><%= category.title %></th>
                <th><%= category.slug %></th>
                <th>
                    <div class="btn-group">
                        <a class="btn btn-warning" href="/admin/categories/edit/<%= category.id %>">Editar</a>
                        <form method="POST" action="/categories/delete" onsubmit="validateDelete(event, this);">
                            <input type="hidden" name="idCategory" value="<%= category.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </div>
                </th>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs')%>
<script>
    function validateDelete(event, form) {
        event.preventDefault();
        var decision = confirm("Deseja deletar categoria?");
        if (decision) {
            form.submit();
        }
    }
</script>