<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>
<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a class="btn btn-primary" href="/admin/users/create">Novo usuário</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((u) => { %>
            <tr>
                <th><%= u.id %></th>
                <th><%= u.email %></th>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs')%>